@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Student"] </p>

<adress>
    <strong> More information: </strong> <a href= "lucascarvalho2399@gmail.com">lucascarvalho2399@gmail.com</a>
</adress>
